.Detection {
  text-align: center;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(133, 180, 255));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: gray;
  margin-top: 5px;
}

.Detection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Set a specific height if needed */
  width: 100%;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Camera {
  width: 300px; /* Adjust the width and height as needed */
  height: 200px; /* Adjust the width and height as needed */
  border-radius: 20%; /* Creates a circular shape */
  border-color: #282c34;
  overflow: hidden; /* Clips the video within the circular container */
}

Webcam {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the container */
}
